:root {
	--first-color: #348796;
	--second-color: #a0c0dd;
	--third-color: #698AC6;
	--grey: #c1c1c1;
	--black: #000000;
	--white: #ffffff;
	--sm: 12px;
	--md: 16px;
	--lg: 24px;
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Fredoka One', cursive;
	color: var(--first-color);
}

.inactive {
	display: none;
}

h1 {
	text-align: center;
	font-size: var(--lg);
	margin: 30px auto;
}

main {
	display: flex;
	justify-content: center;
	width: 100%;
}

.monto-container {
	display: flex;
	width: 50%;
	padding: 1rem;
	background: var(--second-color);
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
}

div label #monto,
#porcentaje {
	width: 55%;
	display: inline-block;
	margin-left: 8px;
}

#monto,
#porcentaje {
	margin-left: 10px;
	height: 30px;
	border-radius: 5px;
	padding-left: 5px;
	border: none;
}

.btn-monto {
	border: 1px solid var(--first-color);
	border-radius: 5px;
	padding: 4px;
	cursor: pointer;
	transition: .3s;
}

.btn-monto:hover {
	background-color: var(--first-color);
	transform: scale(1.2);
	border-color: var(--white);
	color: var(--white);
}

.mensual P {
	display: flex;
	flex-direction: column;
	border-color: var(--grey);
	border-radius: 5px;
	padding: .6rem;
	margin-bottom: 4px;
	border: 1px solid var(--first-color);
}

.mensual {
	margin: 1.5rem;
}

/*ALERT*/
.alert__numerico {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.alert__numerico--textContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	background-color: var(--third-color);
	opacity: 1;
	position: relative;
	margin: 14rem auto;
	border-radius: 5px;
}

.alert__numerico--texto {
	color: var(--black);
	text-align: center;
}

.alert_numerico--icon {
	width: 2rem;
	height: 2rem;
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

footer {
	font-size: var(--sm);
	top: 2rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p,
footer a {
	color: var(--grey);
	font-weight: 100;
}

@media screen and (min-width: 376px) {
	.monto-container {
		flex-direction: column;
		margin-left: .5rem;
	}
	.mensual {
		margin: .5rem;
	}
}

@media screen and (max-width: 375px) {
	main {
		flex-direction: column;
		align-items: center;
	}
	.monto-container {
		flex-direction: column;
	}
	.monto {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}